@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply lg:w-4/5 xl:w-2/3 2xl:w-1/2 mx-auto p-5 md:pt-20;
    max-width: 769px;
  }
  footer {
    @apply lg:w-4/5 xl:w-2/3 2xl:w-1/2 mx-auto p-5 md:pt-20;
  }
  legend {
    margin: .7em 0 0;
    font-size: 1.5em;
    @apply text-gray-500;

  }
  h1 {
    @apply text-2xl font-bold ;
  }
  h2 {
    @apply text-xl;
  }

  ol {
    margin: 0 0 0 3em;
  }

  li {
    @apply pt-3 ; /*grid grid-cols-12 content-start;*/
  }
  input {
    @apply col-span-7 p-2 text-xl;
  }
  input, [type="text"] {
    @apply bg-gray-100;
  }
  label {
    @apply col-span-5 font-bold pt-3;
  }
  button, [type="button"], [type="reset"], [type="submit"] {
   @apply whitespace-nowrap px-1 md:px-2 py-1 border-2 border-gray-200 rounded-lg flex items-center hover:bg-gray-700 hover:text-white hover:border-gray-700 focus:border-gray-700 focus:outline-none ml-3 m-3;
   /*@apply px-6 py-2 mt-4 text-sm font-medium leading-5 text-center text-white  bg-blue-600 border border-transparent rounded-lg hover:bg-blue-700 focus:outline-none;*/
  }
  #error {
    /*@apply bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4;*/
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 m-3 rounded relative;
  }
  #error:empty {
    @apply p-0;
    @apply border-0;
  }
  .hidden {
    display: block;
  }
  #response-partial h1 {
    @apply py-2;
  }
  #response-partial p {
    @apply p-2;
  }
  a {
    @apply underline;
  }
}
