<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><%= extractTitle(htmlBody) %></title>
  <script type="text/javascript" src="<%= baseUrl -%>.well-known/css/scripts/util.js"></script>
  <script type="text/javascript" src="<%= baseUrl -%>.well-known/tailwind-main/js/main.js"></script>
  <link rel="stylesheet" href="<%= baseUrl -%>.well-known/tailwind-main/css/tailwind.min.css">
  <link rel="stylesheet" href="<%= baseUrl -%>.well-known/tailwind-main/css/tailwind.css">
  <!--
  <link rel="stylesheet" href="<%= baseUrl -%>.well-known/tailwind-main/css/main.css">
  -->
</head>
<body>
  <header>
    <!-- PENNY HEADER -->
    <div class="bg-gray-50">
      <div class="container mx-auto flex items-start sm:flex-row md:items-center space-y-5 md:space-y-0 px-5 pb-8 sm:pt-5 md:pt-8">
        <div class="flex-grow w-full">
          <h2 class="text-md md:text-2xl lg:text-2xl">
            <div class="flex items-center space-x-2">
              <span onclick="window.history.back()"
                    onmouseover=""
                    style="cursor: pointer;">⬅️</span>
            </div>
          </h2>
        </div>
        <div class="pl-5 md:pl-10 flex self-end items-center py-2">
        </div>
      </div>
    </div>
    <!-- END PENNY HEADER -->
  </header>
  <main>
    <%- htmlBody %>
  </main>
</body>
</html>

<%
function extractTitle(body) {
  const match = /^<h1[^>]*>([^<]*)<\/h1>/u.exec(body);
  return match ? match[1] : 'Solid';
}
%>

